/* styles.css */
.drivers-container {
    text-align: center;
  }
  
  .driver-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .driver-item {
    border: 1px solid #ccc;
    margin: 2px;
    padding: 5px;
    width: 200px;
    background-color: #b6e2d2;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
  }
  
  .driver-info p {
    margin: 5px 0;
  }
  
.driver-info p {
  margin: 5px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 15px; /* Adjust the font size as needed */
  color: #333; /* Text color */
  /* Add other styles like font-weight, line-height, etc. */
}
  